//FONT
$main-font: "Montserrat";

//COLORS
$light-greysh:  #2e3a46;
$dark-greysh: #1e2d3b;

//FONT
.f-big { font-size: 18px}
.f-med { font-size: 16px}
.f-sm { font-size: 14px}

//COL

//CLEARFIX
.clearfix {
    content: '';
    display: table;
    clear: both;
}

